.container {
  position: relative;
  height: calc(60vh - 60px);
  overflow-y: scroll;
}

.table-container {
  position: relative;
}

table {
  overflow-y: scroll;
  overflow-x: hidden;
}

table,
.mat-form-field {
  width: 100%;
}

th,
.mat-form-field {
  font-size: .9rem;
}

tr.mat-header-row {
  height: 2.2rem;
}

.col-data {
  font-size: 1rem;
  color: red;
  font-weight: 700;

}

.mat-header-cell {
  position: sticky;
  top: 0;
  background: #424242;
  z-index: 100;
}

th.mat-sort-header-sorted {
  color: cadetblue;
}

img {
  width: 1.5rem;
  margin-right: .9rem;
}

.icon-search {
  margin-right: .5rem;
}

.mat-icon.icon-keyboard,
.mat-icon.icon-search {
  font-size: 1rem;
}

.mat-icon.icon-keyboard {
  position: absolute;
  right: 0;
}


th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type,
.icon-search {
  padding-left: 1rem;
}