<h3 mat-dialog-title>Developers:</h3>
<div mat-dialog-content>
  <ul class="ball">
    <li>
      <a href="https://github.com/anntol" target="_blank" rel="noopener noreferrer">Anna Tolstova</a>
    </li>
    <li>
      <a href="https://github.com/kastrubait" target="_blank" rel="noopener noreferrer">Tatsiana Kastrubai</a>
    </li>
    <li>
      <a href="https://github.com/coriander31415" target="_blank" rel="noopener noreferrer">Natali Tverdokhlibova</a>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>