<mat-toolbar color="primary" class='header'>
  <button mat-icon-button 
          color="basic" 
          aria-label="icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../../../../assets/svg/JH-logo-white.svg" alt="JH_logo">
  <span class='title'>COVID-19 Dashboard</span>
  <span class="spacer"></span>
  <app-dialog-like></app-dialog-like>
  <button mat-icon-button class="btn-icon" 
          aria-label="icon-button with info icon">
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar> 