<mat-toolbar color="primary" class='header'>
  <button mat-icon-button color="basic" aria-label="icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../../../../assets/svg/JH-logo-white.svg" alt="JH_logo">
  <span class='title'>COVID-19 Dashboard</span>
  <span class="spacer"></span>
  <button mat-icon-button color="basic" aria-label="icon button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="btn-icon" aria-label="icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> 