td.mat-cell {
    width: 10em;    
    padding: 1em 0;
}

td.mat-cell:nth-child(1) {
    font-weight: bold;
}

.toggles-bar {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
  
