$base-color:#FFFFFF;
$screen-sm-min: 600px;

@mixin gt-xs {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }

.footer_toolbar {
    min-height: 5em;

    @include gt-xs {
        min-height: 3em;
    }
}

.footer_toolbar-row {
    height: max-content;
}

.footer_wrapper {
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
}

.footer_item:first-child {
    margin-left: 1em;
}

.footer_link {
    color: $base-color;
    text-decoration: none;
}
  
.footer_item_divider {
    border-right: 1px solid $base-color;
    height: 0.75em;
    margin: 0.4em 1em;
}

.footer__rsschool {
    width: 4em;
}