<mat-toolbar color="primary" class="footer__toolbar">
    <mat-toolbar-row class="footer__toolbar-row">
    <div class="footer__wrapper" fxLayout="row" fxLayoutAlign="space-between center">
        <ul class="footer__list mat-typography">Authors:
            <li class="footer__listitem">
                <a href="https://github.com/kastrubait" class="footer__link">Tatsiana Kastrubai</a>                
            </li>
            <li class="footer__listitem-divider"></li>
            <li class="footer__listitem">
                <a href="https://github.com/coriander31415" class="footer__link">Natali Tverdokhlibova</a>
            </li>
            <li class="footer__listitem-divider"></li>
            <li class="footer__listitem">
                <a href="https://github.com/anntol" class="footer__link">Anna Tolstova</a>
            </li>
        </ul>
        <span class="footer__year">2020</span>
        <span class="footer__rsschool">
            <a href="https://rs.school/js/">
                <img src="./assets/svg/rs_school_js.svg" alt="RSSchool">
            </a>
        </span>
    </div>
    </mat-toolbar-row>
</mat-toolbar>
