<mat-toolbar color="primary">
    <mat-toolbar-row>
    <div class="footer_wrapper">
        <ul class="footer_list mat-typography">Authors:
            <li class="footer_item">
                <a href="https://github.com/kastrubait" class="footer_link">Tatsiana Kastrubai</a>                
            </li>
            <li class="footer_item_divider"></li>
            <li class="footer_item">
                <a href="https://github.com/coriander31415" class="footer_link">Natali Tverdokhlibova</a>
            </li>
            <li class="footer_item_divider"></li>
            <li class="footer_item">
                <a href="https://github.com/anntol" class="footer_link">Anna Tolstova</a>
            </li>
        </ul>
        <span>2020</span>
        <span class="footer__rsschool">
            <a href="https://rs.school/js/">
                <img src="./assets/svg/rs_school_js.svg" alt="RSSchool">
            </a>
        </span>
    </div>
    </mat-toolbar-row>
</mat-toolbar>
