$base-color:#FFFFFF;

.footer__toolbar-row {
    height: max-content;
}

.footer__wrapper {
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
}

.footer__listitem:first-child {
    margin-left: 1em;
}

.footer__link {
    color: $base-color;
    text-decoration: none;
}
  
.footer__listitem-divider {
    border-right: 1px solid $base-color;
    height: 0.75em;
    margin: 0.4em 1em;
}

.footer__year {
    margin: 0 0.5em;
}

.footer__rsschool img {
  margin-top: 0.8em;
  width: 4em;
}