<div class="container"  (click)="openFullScreen($event)">
  <div id="1" class="item"
      [ngClass] = "setBlockVisibility(1)"
      style="height: 150px">Global
    <span class="material-icons">zoom_out_map</span>
  </div>
  <div id="2" class="item"
      [ngClass] = "setBlockVisibility(2)"
     style="height: calc(100vh - 225px)">Map
    <span class="material-icons">zoom_out_map</span>
  </div>
  <div id="3" class="item"
      [ngClass] = "setBlockVisibility(3)"
      style="height:  calc(50vh - 125px)">Table
    <span class="material-icons">zoom_out_map</span>
  </div>
  <div id="4" class="item"
      [ngClass] = "setBlockVisibility(4)"
      style="height: calc(100vh - 325px)">List
    <span class="material-icons">zoom_out_map</span>
  </div>
  <div id="5" class="item"
      [ngClass] = "setBlockVisibility(5)"
      style="height: 50px">Date
  </div>
  <div id="6" class="item"
      [ngClass] = "setBlockVisibility(6)"
      style="height: calc(50vh - 50px)">Chart
    <span
    class="material-icons"
    >zoom_out_map</span>
  </div>
</div>

