<div class="container">
  <mat-form-field appearance="fill" [style.width.px]="120" [style.height.px]="30">
    <mat-select [(value)]="selected">
      <mat-option matNativeControl value="cases">Cases</mat-option>
      <mat-option matNativeControl value="deaths">Deaths</mat-option>
      <mat-option matNativeControl value="recovered">Recovered</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button>{{ country }}</button>
  <div id="chartsdiv" style="width: 100%; height: 80%"></div>
</div>

